---
import Head from "../components/Head.astro";
---

<html lang="en">
  <Head title="Not Found" />
  <body class="bg-gradient-to-b from-black to-[#a67f07]">
    <main
      class="w-screen h-screen flex flex-col justify-center items-center text-white"
    >
      <h1 class="text-6xl font-bold">Looks like you're lost.</h1>
      <p class="text-xl mt-2">
        Try going back to the
        <a href="/" class="hover:underline">home page.</a>
      </p>
    </main>
  </body>
</html>
